@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600;900&display=swap');

$primary : #8e3658;
$font-family-sans-serif : 'Titillium Web', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules//bootstrap-icons/font/bootstrap-icons.css";


.del-btn{
    display: none;
    transition: 250ms;
    font-size: smaller;
}

#rows tr:hover .del-btn{
    display: block;
}

@media print {
    .p-none{
        display: none;
    }
}